$primary-color : darksalmon ; 
$secondary-color :rgb(249, 238, 238);
$tercer-color: rgb(210, 134, 109);
$cuarto-color:coral;
$quinto-color: rgb(239, 106, 57);
$sexto-color: rgb(249, 238, 238);
$sept-color: #ff957d;